<h1>艦これデータベース kancolle-db.info</h1>

<p class="lead">艦これやってて艦娘達の情報をパッと見れるようなのが欲しかったからノリと勢いだけで作ってみた。</p>

<p>自分がほしい機能だけを実装していく予定です</p>

<ul>
  <li>2013-08-08: Twitterアカウントでのログインに対応。ログインすると「お気に入り艦娘」を使えるよ</li>
  <li>2013-08-03: とりあえず、艦娘データと装備品データだけで公開</li>
</ul>

<p>今後の予定</p>
<ul>
  <li>艦娘達の初期装備品を艦娘のデータに登録したい</li>
  <li>Twitterアカウントを使ってユーザー登録したら自分の編成を保存したりしたい</li>
  <li>編成を保存したらそれぞれのレベルとか装備品とかも変更できるようにしたい</li>
</ul>

<p>サイトについての問合せ先</p>
<ul>
  <li><address><%= mail_to('torut@ttsoft.jp', nil, :encode => :hex) %></address></li>
</ul>


<script type="text/javascript"><!--
google_ad_client = "ca-pub-4355397111452638";
/* [kancolle-db]トップページ */
google_ad_slot = "6077992044";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
